#nprogress {
  pointer-events: none;
  position: absolute;
  z-index: 2014;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}
#nprogress .bar {
  background: #8c001a;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  top: -3px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #8c001a, 0 0 5px #8c001a;
  opacity: 1.0;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
#nprogress .msg {
  display: block;
  position: absolute;
  top: 9px;
  right: 42px;
  font-size: 18px;
  color: #8c001a;
  padding: 0px 6px 0px 6px;
  text-shadow: 0px 0px 8px #8c001a;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
}
#nprogress .msgBG {
  background-color: white;
  opacity: 0.5;
}
#nprogress .msgRF {
  right: 4px;
}
#nprogress .spinner {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
}
#nprogress .spinner .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #8c001a;
  border-left-color: #8c001a;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-parent {
  overflow: hidden;
  position: relative;
}
body.nprogress-parent #nprogress,
body.nprogress-parent #nprogress .bar,
body.nprogress-parent #nprogress .spinner {
  position: fixed;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
